@model MTATOEIc.Models.EF.Account

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="~/Content/LoginAdmin.css" rel="stylesheet" />
  </head>
  <body>
      <div class="login-box">
          <h1>Login</h1>
          @using (@Html.BeginForm())
          {
              @Html.AntiForgeryToken()
              @Html.ValidationSummary(true,null,new { @class = "alert alert-dangerf" })
              <div class="textbox">
                  <i class="fas fa-user"></i>
                  @Html.TextBoxFor(model => model.Username, new { @type = "text", @placeholder = "Username" ,@autofocur="autofocus"})

              </div>
         
              <div class="textbox">
                  <i class="fas fa-lock"></i>
                  @Html.TextBoxFor(model => model.Password, new { @type = "password", @placeholder = "Password", @autofocur = "autofocus" })
              </div>

              <input type="submit" class="btn" value="Đăng nhập">
              <a href="@Url.Action("Trangchu","trangchu")"><input type="button" class="btn" value="Hủy"></a>
          }
      </div>
  </body>
</html>
